<footer class="p-2 mt-5 position-relative">
  <div class="hero position-absolute"></div>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-4 position-relative">
        <div class="mt-5 social-menu position-relative">
          <ul>
              <li><a href="https://github.com/Hala-salah77/" target="blank"><i class="fab fa-github"></i></a></li>
              <li><a href="https://www.instagram.com/imsanketbodke/" target="blank"><i class="fab fa-instagram"></i></a></li>
              <li><a href="https://www.linkedin.com/in/hala-salah-3553801a3/" target="blank"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="https://www.messenger.com/t/100007645116709/" target="blank"><i class="fa-brands fa-facebook-messenger"></i></a></li>
          </ul>
      </div>
      </div>
    </div>
  </div>
  <div class="copyright text-center mt-5 mb-2">© 2022 ITI By Hala Salah</div>
</footer>
