<header class="d-flex justify-content-center ">
  <!-- BACKGROUND IMAGE -->
  <div class="hero"></div>
  <!-- INTRO SECTION -->
  <section class="container h-100 py-5">
    <!-- LOGO -->
    <div class="row h-100 align-items-center">
      <div class="col-md-6 h-100 mt-5">
        <div class="header-img mt-5"></div>
      </div>
      <div class="col-md-6">
        <div class="homepage-container">
          <h1 class="h3 hero-headline no-toc mb-4">Fundraising on GoFundMe <br>takes just a few minutes</h1>
          <a class="btn bg-warning fw-bold" routerLink="#">Get Started</a>
        </div>
      </div>
    </div>
  </section>
</header>
